<!DOCTYPE html>
<html lang="en">

	<head>
		<% include shared/metatags.ejs %>
		<meta name="apple-mobile-web-app-capable" content="yes">

		<title>MorTeam - Chat</title>

		<% include shared/cssimports.ejs %>
		<link rel='stylesheet' href='/css/perfect-scrollbar.min.css' />
		<link href="/js/lib/jbox/themes/TooltipDark.css" rel="stylesheet">


		<% include shared/jsimports.ejs %>
		<script src="/js/lib/clamp.min.js"></script>
		<script type="text/javascript" src="/js/lib/Autolinker.min.js"></script>
		<script type="text/javascript" src="/js/lib/autosize.js"></script>
		<script type="text/javascript" src="/js/lib/perfect-scrollbar.jquery.min.js"></script>

		<% include shared/loadingCircle.ejs %>

	</head>

	<body class="chat_body">

		<% include shared/navbar.ejs %>

		<!-- BODY -->
		<div class="wrapper chat_wrapper">
			<div class="chat_area hidden" id="chat_area">
			</div>
			<div class="reply_box">
				<textarea rows="1" class="reply_textarea hidden"></textarea>
				<input type="button" class="send_button hidden" value="send"></input>
			</div>
		</div>
		<div class="ads">
			<div class="ad">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Chat -->
				<ins class="adsbygoogle"
						 style="display:inline-block;width:160px;height:600px"
						 data-ad-client="ca-pub-6908015693715549"
						 data-ad-slot="8692209914"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<!-- <div class="ad2"></div> -->
		</div>
		<!-- END OF BODY -->

		<!-- LEFTBAR -->
		<div class="leftbar">
			<ul class="users_list">
				<li class="chat_name compose"><span id="compose" class="glyphicon glyphicon-pencil"></span>Compose</li>
				<li class="chat_search_li"><input type="text" class="chat_search" placeholder="search chats" /></li>
			</ul>
		</div>
		<span class="glyphicon glyphicon-chevron-left hide_leftbar"></span>

		<!-- END OF LEFTBAR -->

		<% include shared/googleads.ejs %>

	</body>
</html>
