<!DOCTYPE html>
<html lang="en">

	<head>
		<% include shared/metatags.ejs %>

		<title>MorTeam - Drive</title>

		<% include shared/cssimports.ejs %>
		<link href="/js/lib/jbox/themes/TooltipDark.css" rel="stylesheet">

		<% include shared/jsimports.ejs %>
		<script type="text/javascript" src="http://code.jquery.com/color/jquery.color-2.1.0.min.js"></script>
		<script type="text/javascript" src="/js/lib/color-thief.js"></script>
		<script type="text/javascript" src="/js/lib/dropzone.js"></script>
		<script type="text/javascript" src="/js/lib/clamp.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="/js/lib/Autolinker.min.js"></script>
		<script type="text/javascript" src="/js/hex.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.form.js"></script>
		<script type="text/javascript" src="/js/drive.js"></script>

		<% include shared/loadingCircle.ejs %>

	</head>

	<body>

		<% include shared/navbar.ejs %>

		<!-- BODY -->
		<div class="container-fluid documents_list hidden">
			<!-- <div id="drive_dir">
				<span>Personal Files</span>/<span>test folder 1</span>
			</div> -->
			<div class="grid">
				<div style="z-index:1;" class="doc_frame add_file">
					<span id="add_file_sign" class="glyphicon glyphicon-plus"></span>
				</div>
				<!--<div style="z-index:1;" class="doc_frame image_doc">              // THIS IS A SAMPLE FILE (IMAGE) IN DRIVE
					<div class="hidden confirm_del">
						<p>Are you sure?</p>
						<input type="button" value="yes" class="yes"></input>
						<input type="button" value="no" class="no"></input>
					</div>
					<img src="./images/sample2.jpg" class="doc_preview image_preview" />
					<span class="doc_title">
						<span class="name">Flower Image</span>
						<span class="file_size">6.3 MB</span>
						<span class="glyphicon glyphicon-trash doc_delete"></span>
					</span>
				</div>-->
			</div>
		</div>
		<!-- END OF BODY -->

		<!-- LEFTBAR -->
		<div class="leftbar">
			<ul class="folders_list">
				<li class="drive_name drive_options">
					<div class="btn-group sort_by_dropdown">
						<button class="button dropdown-toggle" data-toggle="dropdown">
							Sort By <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li class="sort_by">Date</li>
							<li class="sort_by">Name</li>
							<li class="sort_by">Size</li>
							<li class="sort_by">Type</li>
						</ul>
					</div>
					<!-- <span class="glyphicon glyphicon-th grid_layout"></span>
					<span class="glyphicon glyphicon-th-list list_layout"></span>  UN-COMMENT WHEN LIST LAYOUT IS READY   -->
				</li>
				<li class="drive_name new_folder"><span id="make_drive" class="glyphicon glyphicon-plus"></span>New Drive Group</li>
					<!-- <li class="drive_name"><span id="make_drive" data-folderid="" class="glyphicon glyphicon-folder-open def_folder1"></span>All Your Files</li>
					<li class="drive_name"><span id="make_drive" class="glyphicon glyphicon-folder-open def_folder2"></span>Team Files</li>
					<li class="drive_name"><span id="make_drive" class="glyphicon glyphicon-folder-open def_folder3"></span>Personal Files</li> -->

			</ul>
		</div>
		<span class="glyphicon glyphicon-chevron-left hide_leftbar"></span>
		<!-- END OF LEFTBAR -->

		<% include shared/googleads.ejs %>

	</body>
</html>
