<!DOCTYPE html>
<html>

	<head>
		<% include shared/metatags.ejs %>

		<title>MorTeam - The General-Purpose FRC Team Management Platform</title>

		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,200' rel='stylesheet' type='text/css'>

		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

	</head>

	<body>
		<a id="back_to_login" href="login">Back to login</a>
		<div id="fp_div">
			<input id="fp_email" class="m_input" type="email" placeholder="Email"><br>
			<input id="fp_name" class="m_input" type="text" placeholder="Username"><br>
			<input id="fp_done" class="button" type="button" value="OK">
		</div>

		<script>
			$(document).ready(function() {
				$("#fp_done").click(function() {
					sendAjax("POST", "/forgotPassword", {
						username: $("#fp_name").val(),
						email: $("#fp_email").val()
					}, function(response) {
						if (response == "success") {
							alert("Your new password has been emailed to you.");
						} else {
							alert(response);
						}
					});
				});
			});
		</script>

		<% include shared/googleads.ejs %>

	</body>

</html>
