<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="google-site-verification" content="iZPx5YPDKe6xaZTCKdgkb9u9r2DDKHVPkgFDkCgPqJg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>MorTeam</title>
		<meta name="description" content="The Standard Robotics Management Platform. Communicate with teammmates using team-wide and subdivision-specific announcements, chats, group drives, calendar events, attendance, and more.">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,200' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/index.css" type="text/css">
		<link href="/js/lib/jbox/themes/TooltipDark.css" rel="stylesheet">
		<link href="/js/lib/jbox/jBox.css" rel="stylesheet">
		<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
		<script type="text/javascript">
			bkLib.onDomLoaded(function() {
				new nicEditor({
						buttonList: ['bold', 'italic', 'underline', 'left', 'center', 'right', 'justify', 'removeformat', 'hr', 'upload']
				}).panelInstance('main_textarea');
			});
		</script>
		<script src="/js/lib/spin.js"></script>
		<script type="text/javascript">
				// var loadingDiv = document.createElement("div");
				// loadingDiv.className = "loading_circle";
				// loadingDiv.id = "loading_circle";
		</script>
	</head>

	<body>
		<div id="audio-files" style="display: none;">
			<audio id="click-sound">
				<source src="/js/lib/jbox/audio/bling2.wav" type="audio/wav" />
			</audio>
		</div>
		<!-- NAVIGATION BAR -->
		<div class="nav_dropdown">
			<p onclick="location='/index'" style="background-color: orange">Home</p>
			<p onclick="location='/chat'">Chat</p>
			<p onclick="location='/drive'">Drive</p>
			<p onclick="location='/cal'">Calendar</p>
			<p onclick="location='/networks'">Networks</p>
		</div>
		<div class="navigation_bar">
			<ul id="navbar_list">
				<li class="navbar_item navbar_title" onclick="location='/'">
					MorTeam
				</li>
				<li class="navbar_item searchbox_list_item">
					<input type="text" placeholder="search" class="searchbox"></input>
					<div class="search_drop">
						<ul class="search_drop_items">

						</ul>
					</div>
				</li>
				<li class="navbar_item glyph_link chat_btn menu_btn" onclick="location='/chat'">
					<span class="glyphicon glyphicon-comment"></span>
				</li>
				<li class="navbar_item glyph_link drive_btn menu_btn" onclick="location='/drive'">
					<span class="glyphicon glyphicon-hdd"></span>
				</li>
				<li class="navbar_item glyph_link cal_btn menu_btn" onclick="location='/cal'">
					<span class="glyphicon glyphicon-calendar"></span>
				</li>
				<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='/networks'">
					<span class="glyphicon glyphicon-globe"></span>
				</li>
				<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location='http://www.scout.morteam.com'">
					<span class="glyphicon glyphicon-pencil"></span>
				</li>
				<div class="navbar_item right_links">
					<li class="navbar_item glyph_link menu">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</li>
					<li class="navbar_item glyph_link" id="notif_button">
						<span class="glyphicon glyphicon-inbox"></span>
						<span class="unseen_count bold">3</span>
					</li>
					<img class="profile_id" id="small_prof_pic" src="/images/user.jpg"></img>
					<span class="profile_name" id="name_link"></span>
				</div>
			</ul>
		</div>
		<!-- <div class="triangle_thing_notif hidden"></div>
		<div class="triangle_thing_prof hidden"></div> -->
		<div id="notif_drop" class="hidden">
			<ul>
				<li class="notif_list_item">hey</li>
				<li class="notif_list_item">hi</li>
				<li class="notif_list_item">ho</li>
			</ul>
		</div>
		<div id="prof_drop" class="hidden">
			<ul>
				<li class="notif_list_item" id="view_prof_button">View Profile and Settings</li>
				<li class="notif_list_item" id="logout_button">Log Out</li>
			</ul>
		</div>
		<div class="hidden" id="darken"></div>
		<!-- END OF NAVIGATION BAR -->
		<!-- BODY -->
		<div class="announcements_container" style="margin-top: 60px;">

			<div class="announcements_left">
				<p id="view_prof_button">View Profile</p>
				<p id="logout_button">Log Out</p>
				<p id="team_button">Team</p>
				<hr>
				<div id="your_subdivisions">
					<h5 style="margin-bottom: 15px;">Your Subdivisions</h5>
				</div>
				<hr>
				<div id="public_subdivisions">
					<h5 style="margin-bottom: 15px;">Public Subdivisions</h5>
				</div>
				<hr>
				<div id="invited_subdivisions">
					<h5 style="margin-bottom: 15px;">Subdivision Invites</h5>
				</div>
				<!-- <hr>
				<p class="new_subdivision"><span class="glyphicon glyphicon-plus"></span> Make a Subdivision</p> -->
				<hr>
				<span style="color: gray; display: inline-block; margin-bottom: 6px;">© 2015 MorTeam</span><br/>
				<span><a style="color: gray;" href="terms">Privacy and Terms</a></span>
			</div>
			<div class="announcements_center">
				<div class="post_announcement cf">
					<textarea class="announcement_textarea" id="main_textarea" placeholder="Make an announcement..."></textarea>
					<input type="button" class="announcement_post_button" value="Post"></input>
					<div class=" announcement_audience_button btn-group">
						<button class="button dropdown-toggle" data-toggle="dropdown">
							<span class="audience_selection">Everyone</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu audience_drop">
							<li class="audience_item selected first_audience">Everyone</li>
							<li class="audience_item custom_audience"><span class="glyphicon glyphicon-cog"></span>&nbsp;Custom</li>
						</ul>
					</div>
				</div>
				<div class="announcements_list">
					<!--
					<div class="announcement" data-postNum="1">
						<div class="announcement_top">
							<img id="medium_prof_pic" src="/images/user.jpg"></img>
							<span class="announcement_poster">Farbod Rafezy</span>
						</div>
						<span class="glyphicon glyphicon-remove delete_icon"></span><br>
						the words go here
					</div>
					-->
				</div>
			</div>
			<div class="announcements_right">
				<div class="ad" style="margin-top: 0px; position: fixed;"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Home -->
					<ins class="adsbygoogle"
							 style="display:inline-block;width:160px;height:600px"
							 data-ad-client="ca-pub-6908015693715549"
							 data-ad-slot="7361971513"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>

		</div>


		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/js/lib/jbox/jBox.min.js"></script>
		<script type="text/javascript" src="/js/lib/socket.io.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="/js/lib/velocity.min.js"></script>
		<script type="text/javascript" src="/js/lib/autosize.js"></script>
		<script src="/js/lib/Autolinker.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript">
				autosize(document.querySelectorAll('textarea'));
		</script>

		<script type="text/javascript" src="/js/index.js"></script>

			<script>
			(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-67504156-1', 'auto');
			ga('send', 'pageview');

		</script>

	</body> 
</html>
