<!DOCTYPE html>
<html lang="en">

	<head>
		<% include shared/metatags.ejs %>

		<title>MorTeam</title>

		<% include shared/cssimports.ejs %>

		<% include shared/jsimports.ejs %>
		<script type="text/javascript" src="/js/void.js"></script>

	</head>
	<body>

		<div style="vertical-align: middle; display: table; width: 100%; height: 100vh;">
			<div style="vertical-align: middle; display: table-cell;">
				<h3 class="team_instructions">
					Hey there, looks like you aren't part of a team. You can either join your team using your team's unique code, or you can create a team. Creating a team appoints you as the administrator of that team, but you can configure that later if you wish.
				</h3>
				<div class="container-fluid"l>
					<div class="row">
						<div class="col-sm-6 void_left">
							<!-- <input class="void_input team_join_code" type="text" placeholder="Team Code"></input><br/> -->
							<input class="show_join button" type="button" value="Join a Team"></input>
						</div>
						<div class="col-sm-6 void_right">
							<input type="button" class="button show_create" value="Create a Team"></input><br/>
							<!-- <input class="void_input team_num" type="text" placeholder="Team Number"></input><br/>
							<input class="void_input team_name" type="text" placeholder="Team Name"></input><br/>
							<input class="void_input team_code" type="text" placeholder="Choose Team Code"></input><br/>
							<input type="button" class="button create_team_btn_done" value="Done"></input> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include shared/googleads.ejs %>

	</body>

</html>
