<!-- NAVIGATION BAR -->
<div class="nav_dropdown">
	<p onclick="location.assign('/index');">Home</p>
	<p onclick="location.assign('/chat');">Chat</p>
	<p onclick="location.assign('/drive');">Drive</p>
	<p onclick="location.assign('/cal');">Calendar</p>
	<p onclick="location.assign('/networks');">Networks</p>
</div>
<div class="navigation_bar">
	<ul id="navbar_list">
		<li class="navbar_item navbar_title" onclick="location.assign('/index');">
			MorTeam
		</li>
		<li class="navbar_item searchbox_list_item">
			<input type="text" placeholder="search" class="searchbox"></input>
			<div class="search_drop">
				<ul class="search_drop_items">

				</ul>
			</div>
		</li>
		<li class="navbar_item glyph_link chat_btn menu_btn" onclick="location.assign('/chat');">
			<span class="glyphicon glyphicon-comment"></span>
		</li>
		<li class="navbar_item glyph_link drive_btn menu_btn" onclick="location.assign('/drive');">
			<span class="glyphicon glyphicon-hdd"></span>
		</li>
		<li class="navbar_item glyph_link cal_btn menu_btn" onclick="location.assign('/cal');">
			<span class="glyphicon glyphicon-calendar"></span>
		</li>
		<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location.assign('/networks');">
			<span class="glyphicon glyphicon-globe"></span>
		</li>
		<li class="navbar_item glyph_link networks_btn menu_btn" onclick="location.assign('http://www.scout.morteam.com');">
			<span class="glyphicon glyphicon-pencil"></span>
		</li>
		<div class="navbar_item right_links">
			<li class="navbar_item glyph_link menu">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</li>
			<li class="navbar_item glyph_link" id="notif_button">
				<span class="glyphicon glyphicon-inbox"></span>
			</li>
			<img class="profile_id ejs" id="small_prof_pic"></img>
			<span class="profile_name" id="name_link"></span>
		</div>
	</ul>
</div>
<div id="notif_drop" class="hidden">
	<ul>
		<li class="notif_list_item">hey</li>
		<li class="notif_list_item">hi</li>
		<li class="notif_list_item">ho</li>
	</ul>
</div>
<div id="prof_drop" class="hidden">
	<ul>
		<li class="notif_list_item" id="view_prof_button_ejs">View Profile and Settings</li>
		<li class="notif_list_item" id="logout_button">Log Out</li>
	</ul>
</div>
<div id="darken" class="hidden"></div>
<!-- END OF NAVIGATION BAR -->
