table{
  border-collapse: collapse;
}
table, th, td{
  border: 1px solid black;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}
th{
  text-align: left;
}
.delete-col{
  background-color: #aa2222;
  color: white;
  cursor: pointer;
}
.delete-col:hover{
  background-color: #cc4444;
}
.invite-col{
  background-color: #64779E;
  color: white;
  cursor: pointer;
}
.invite-col:hover{
  background-color: #7787A7;
}
.invite-col.selected{
  background-color: #9DA9BF;
}

.hidden{
  display: none;
}
.logout-btn{
  float: right;
  margin-left: 10px;
}
.user-display{
  float: right;
}
#logged-out-info{
  float: right;
}
